a:link{text-decoration: none;}
a:visited{color: red;}
a:hover{text-decoration: underline;color: green;}
a:active{color: yellow;}
ul{
    list-style-type: none;
    list-style-image: url(../images/images\ small.png);
    text-align: center;list-style-position: inside
}
.inside{list-style-position: inside;}
.listcenter{text-align: center;}
.border1{width: 100px;height: 100px;border: 2px solid orange;margin: 20px;;}
.border2{width: 200px;height: 100px;border: 2px solid orange;border-radius:50px;}

.boxrow{width: 1000px;height: 100px;border: 2px solid orange;border-radius:30px;display: flex;flex-direction: row;}


.image1{float: right;}
.image2{float: left;}
p{text-align: justify;}

.item1{width: 100px;height: 100px;background-color: aquamarine;justify-content: space-between;align-items:flex-end;vertical-align: middle;}

.table{
border: 3px solid #0072E3;width: 1000px;border-collapse: collapse;
}
td,th{border: 2px solid  #0072E3}
th{background-color: antiquewhite;}
tbody>tr:nth-child(odd){background-color: lightpink;}
/* tbody tr:nth-child(even){background-color: rgb(229, 230, 174);} */
tbody>tr:nth-child(even){background-color: yellow;}
tbody>tr:hover{background-color: palegreen;}


.q1{width: 500px;border-bottom: 2px dashed gray; }
.t1{float: left;width: 100px;text-align: right;}